/*
FPIT1064 WEB DEVELOPMENT
COURSEWORK TEST 2

Name: YOO XIN WEI
Date: 12 APRIL 2023

*/


* { box-sizing: border-box;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; } 

body{
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header {
  overflow: auto; 
  margin-bottom: 0;
  margin-bottom: 0; 
  background-color: #ffc72c;
  text-align: center;
}

#wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #619ED6;
}

main{
  padding: 10px;
}

h1{
  line-height: 200%;
}


nav {
  overflow: auto; 
  margin-top: 0; 
  text-align: center;
  font-weight: bold;
  background-color: #F7D027;
  display: inline;
}

nav a{
  text-decoration: none;
  padding-right: 10px;
}

.yummy{
  font-style: italic;
}

footer {
    padding: 10px 0;
    background-color: #6BA547;
    font-size: .60em;
    font-style: italic;
    text-align: center;
}